@import "common/foundation/variables";

.d-header {
  &.hide-menus {
    .headerLink:not(.keep) {
      display: none;
    }
  }
}

.custom-header-links {
  display: inline-flex;
  align-items: center;
  margin: 0;
  .headerLink {
    list-style: none;
    a {
      padding: 6px 10px;
      color: $header_primary;
      font-size: $font-0;
      background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
      background-size: 0px 3px;
      transition: all 0.3s ease-in-out 0s;
      text-decoration: none;
    }
    a:hover {
      background-size: 60% 3px;
    }
  }
}

.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

@if $links_position == left {
  .custom-header-links {
    margin-left: 1em;
  }
  .hide-menus {
    .custom-header-links {
      display: none;
    }
  }
}